.container {
  height: 100%;
}

.layout {
  height: 100%;
}

.sideBar {
  background-color: rgb(29, 29, 29) !important;
  width: 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
}

.backDrop {
  position: absolute;
  width: 87%;
  height: 100vh;
  background-color: rgba(219, 219, 219, 0.831);
  z-index: 1;
}
